/* Demo Styles */

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.button {
  margin-right: .75rem;
  min-width: 5rem;
  padding: 0 1rem;
  height: 2.75rem;
  border: 0;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  background: #2e5098;
  cursor: pointer;
}
