/* ==-- Custom styles for dialog --== */

:host {
  --dialog-margin: 2rem;
  --dialog-padding: 0; /* Custom padding handled below */
  --dialog-min-width: 20rem;
  --dialog-max-width: 40rem;
  --dialog-border: 0;
  --dialog-border-radius: .25rem;
  --dialog-transition-in: transform .2s ease-out, opacity .1s ease-out, box-shadow .2s ease-out;
  --dialog-transition-out: transform .2s ease-in, opacity .2s ease-in, box-shadow .2s ease-in;
  --dialog-transform: scale(1);
  --dialog-transform-in: scale(.9);
  --dialog-transform-out: scale(.9);
  --dialog-opacity: 1;
  --dialog-opacity-in: 0;
  --dialog-opacity-out: 0;
  --dialog-box-shadow: 0 0 7rem rgba(0, 0, 0, .4);
  --dialog-box-shadow-in: 0 0 0 rgba(0, 0, 0, 0.6);
  --dialog-box-shadow-out: 0 0 0 rgba(0, 0, 0, 0.6);

  --dialog-header-padding: 1rem 2rem;
  --dialog-header-color: #000;
  --dialog-header-background: #f7f7f7;
  --dialog-header-border-bottom: 1px solid #eee;

  --dialog-backdrop-background: rgba(0, 0, 0, .2);
}

/* Styles for dialog content and footer */
.dialog-content p {
  margin-top: 0;
}

.dialog-content p:last-child {
  margin-bottom: 0;
}

.dialog-content {
  padding: 2rem;
}

.dialog-footer {
  padding: 1rem 2rem;
  border-top: 1px solid #eee;
  text-align: right;
}
